[defaults]
callbacks_enabled = ansible.builtin.tree, ansible.builtin.default
callback_format_pretty = False
callback_result_format = json
stdout_callback = ansible.builtin.default
gathering = smart
inventory = ./inventories/hosts.yml
host_key_checking = False
forks = 10
timeout = 60
display_skipped_hosts = False
display_args_to_stdout = False
retry_files_enabled = True
retry_files_save_path = ./retries

[colors]
changed = bright blue
error = red
skip = dark gray
unreachable = bright gray
verbose = purple

[callback_tree]
directory = ./logs
