set fish_greeting
set -x MANPAGER "sh -c 'col -bx | bat -l man -p'"
set -x MANROFFOPT "-c"
set -gx ATUIN_NOBIND "true"

set paths_to_add {{  }}

if not contains -- /opt/homebrew/bin $PATH
    set -p PATH /opt/homebrew/bin
end

if test -d ~/.local/bin
    if not contains -- ~/.local/bin $PATH
        set -p PATH ~/.local/bin
    end
end

if status is-interactive
    source ("/opt/homebrew/bin/starship" init fish --print-full-init |psub)
    atuin init fish | source
    bind \cr _atuin_search
end

# vim: set ts=4 sw=4 sts=4 :
{# vim: set ft=fish.jinja2: #}# vim: set ft=fish:
