# Global Settings
[global]
workgroup = nucoder
server string = %h samba server
# Logging / Debugging
log file = /var/log/samba/log.%m
max log size = 5120
logging = file
panic action = /usr/share/samba/panic-action %d
# Authentication
server role = standalone server
map to guest = bad user
# Misc
usershare max shares = 0
# Shares
{% for share in smb_shares %}
[{{ share.name }}]
path = {{ share.dir }}
writable = yes
browseable = yes
valid users = {{ share.users|join(', ') }}
write list = {{ share.users|join(', ') }}

force group = +users

create mask = 0660
force create mode = 0660

directory mask = 0770
force directory mode = 0770

guest ok = no
inherit permissions = no
ea support = no
store dos attributes = no
printable = no
hide special files = yes
follow symlinks = yes
hide dot files = yes
invalid users =
read list =
{% endfor %}
