# Global Settings
[global]
workgroup = nucoder
server string = %h (Samba, Ubuntu)
interfaces = 192.168.86.0/24
bind interfaces only = yes
# Logging / Debugging
log file = /var/log/samba/log.%m
max log size = 5120
logging = file
panic action = /usr/share/samba/panic-action %d
# Authentication
server role = standalone server
obey pam restrictions = yes
unix password sync = yes
passwd program = /usr/bin/passwd %u
passwd chat = *Enter\snew\s*\spassword:* %n\n *Retype\snew\s*\spassword:* %n\n *password\supdated\ssuccessfully* .
pam password change = yes
map to guest = bad user
# Misc
usershare max shares = 0
# Default mask permissions for shares
create mask = 0660
directory mask = 0770

# Shares
{% for share in smb_shares %}
[{{ share.name }}]
path = {{ share.dir }}
writable = yes
browseable = yes
valid users = {{ share.users|join(', ') }}
write list = {{ share.users|join(', ') }}
force group = +users
guest ok = no
inherit permissions = no
ea support = no
store dos attributes = no
printable = no
hide special files = yes
follow symlinks = yes
hide dot files = yes
invalid users =
read list =
{% endfor %}
