---
- name: Setup pipx and install packages
  block:
    - name: Install python packages as user
      pip:
        executable: pip3
        extra_args: --user
        name:
          - pipx

    - name: Install packages with pipx
      community.general.pipx:
        install_deps: true
        state: install
        name: '{{ item }}'
      loop:
        - ansible

    - name: Inject docker and winrm into ansible venv
      community.general.pipx:
        state: inject
        name: ansible
        inject_packages:
          - docker
          - pywinrm
...
